html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* === Colors === */
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
}

.navbar-brand {
  margin-right: 30px;
}

.nav-link {
  color: #171616;
  font-size: 16px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.nav-link:hover {
  color: #2d4872;
  transition: 0.7s;
}

.btn {
  padding: 10px 24px;
  border: 1px solid #6cac3d;
  color: #6cac3d;
  transition: ease-in-out 0.5s;
}
.btn:hover {
  transition: 0.7s;
  background-color: #6cac3d;
  border: 1px solid #6cac3d;
}

.btn-drop {
  border: 1px solid transparent;
  background-color: transparent;
  color: #171616;
  outline: none;
}
.btn-drop:active, .btn-drop:focus, .btn-drop:focus-visible {
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid transparent !important;
  color: #171616 !important;
  background-color: transparent !important;
}
.btn-drop:hover {
  color: #6cac3d;
  background-color: transparent;
  border: 1px solid transparent;
}

.dropdown > button::after {
  display: none;
}

.dropdown-menu {
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.25);
  border: none;
  width: 100%;
  margin: 16px 0 0 !important;
}
.dropdown-menu li {
  margin: 12px;
}

.dropdown-item {
  border: 1px solid #6cac3d;
  border-radius: 6px;
}

.navbar-toggler {
  border: 1px solid #6cac3d;
  background-color: #6cac3d;
}

.navbar-toggler-icon {
  color: #6cac3d;
}

/* === Colors === */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../../fonts/Roboto-Italic.woff2") format("woff2"), url("../../fonts/Roboto-Italic.woff") format("woff"), url("../../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff"), url("../../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../../fonts/Roboto-LightItalic.woff") format("woff"), url("../../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../../fonts/Roboto-BoldItalic.woff") format("woff"), url("../../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../../fonts/Roboto-ThinItalic.woff") format("woff"), url("../../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../../fonts/Roboto-BlackItalic.woff") format("woff"), url("../../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../../fonts/Roboto-MediumItalic.woff") format("woff"), url("../../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff"), url("../../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header {
  margin-top: 20px;
}
.header__contacts-up {
  font-size: 18px;
  font-weight: 700;
}
.header__contacts-down > span {
  font-size: 14px;
  color: #171616;
}
.header__options-line {
  border-top: 1px solid #6cac3d;
  border-bottom: 1px solid #6cac3d;
}
.header__options-line {
  margin-top: 12px;
}
.header .dropdown-menu,
.header .header__another-link {
  padding: 8px 0;
}
.header__form {
  gap: 30px;
}

@media (max-width: 1120px) {
  .header__form {
    gap: 10px;
  }
}
@media (max-width: 1120px) and (min-width: 992px) {
  .header__container-for-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .header__container-for-nav .navbar-brand {
    margin-right: 0;
  }
  .header__navbar-collapse {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .header__form {
    gap: 40px;
  }
}
@media (max-width: 820px) {
  .header__options-line {
    flex-direction: column;
  }
  .header__another-link {
    padding: 0 !important;
  }
}
@media (max-width: 390px) {
  .header__form {
    flex-direction: column;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
